body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: Lato, sans-serif;
	font-weight: 400;
}

.navbar-toggle {
	border-width: 0;
}

.navbar .nav > li > a {
	color: #FFFFFF;
}

.navbar {
	background-color: #6200ff;
}

.lb {
	color: #FFFFFF;
}