body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: Lato, sans-serif;
	font-weight: 400;
}

.navbar-toggle {
	border-width: 0;
}

.intro-header-top {
	padding-top: 100px;
	background-color: #BDBDBD;
	padding-bottom: 50px;
}

.navbar .nav > li > a {
	color: #FFFFFF;
}

.navbar {
	background-color: #7401DF;
}

.lb {
	color: #FFFFFF;
}

.carousel {
	height: 500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}
.carousel-caption {
	z-index: 10;
}
.carousel .item {
	height: 500px;
}
.carousel-inner > .item > img {
	background-size: cover;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
}