<footer>
    <div class="row" style="background-color: #0c2340">
        <div class="col-lg-2 col-lg-offset-3">
            <p>LASA SciO 2024-2025<br>
                lasa.scioly@gmail.com<br><br>
                1012 Arthur Stiles Road<br>
                Austin, TX 78721<br>
                Practices: Tuesday/Wednesday 4-6 PM (at school), Saturday 1-5 PM (at Austin Public Library)
            </p>
        </div>
        <div class="col-lg-2 col-lg-offset-2">
            <p>Currently maintained by Ram Sivaraman. Created by Neil Patil, Evan Tey, and Kevin Black. Open source on <a href="https://github.com/lasa-scio/lasa-scio.github.io" target="_blank">GitHub</a>.</p>
        </div>
    </div>
</footer>
