<footer>
    <div class="row" style="background-color: #0c2340">
        <div class="col-lg-2 col-lg-offset-3">
            <p>LASA SciO 2021-2022<br>
                lasa.scioly@gmail.com<br><br>
                1012 Arthur Stiles Road<br>
                Austin, TX 78721<br>
                Practices: Tues./Wed. 4-6 PM
            </p>
        </div>
        <div class="col-lg-2 col-lg-offset-2">
            <p>Currently maintained by Sid Baskaran. Created by Neil Patil, Evan Tey, and Kevin Black. Open source on <a href="https://github.com/lasa-scio/lasa-scio.github.io">Github.</a></p>
        </div>
    </div>
</footer>
