<footer>
    <div class="row" style="background-color: #5F41B0">
        <div class="col-lg-2 col-lg-offset-3">
            <p>LASA SciO 2019-2020<br>
                lasa.scioly@gmail.com<br><br>
                7309 Lazy Creek Dr.<br>
                Austin, TX 78724<br>
                T/W 4-6
            </p>
        </div>
        <div class="col-lg-2 col-lg-offset-2">
            <p>Currently maintained by Yash Patil. Created by Neil Patil, Evan Tey, and Kevin Black. Open source on <a href="https://github.com/lasa-scio/lasa-scio.github.io">Github.</a></p>
        </div>
    </div>
</footer>
