<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="test">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" style="font-family: 'brannonball'; font-size: 25px;">Lasa SciO0</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" {% if page.url == "/index.html" %} class="lasaActive" {% endif %} href="index.html">Home</a>
        <a class="mdl-navigation__link" {% if page.url == "/news.html" %} class="lasaActive" {% endif %} href="news.html">News</a>
        <a class="mdl-navigation__link" {% if page.url == "/history.html" %} class="lasaActive" {% endif %} href="history.html">History</a>
        <a class="mdl-navigation__link" {% if page.url == "/calendar.html" %} class="lasaActive" {% endif %} href="calendar.html">Calendar</a>
        <a class="mdl-navigation__link" {% if page.url == "/gallery.html" %} class="lasaActive" {% endif %} href="gallery.html">Gallery</a>
        <a class="mdl-navigation__link" {% if page.url == "/contact.html" %} class="lasaActive" {% endif %} href="contact.html">Contact Form</a>
        <a class="mdl-navigation__link" {% if page.url == "/links.html" %} class="lasaActive" {% endif %} href="links.html">Links and Forms</a>
        <a class="mdl-navigation__link" href="https://app.box.com/v/lasascio">Event Resources</a>
        <a class="mdl-navigation__link" {% if page.url == "/donate.html" %} class="lasaActive" {% endif %} href="donate.html">Donate!</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="" style="font-family: 'brannonball'; font-size: 25px; margin: 25px; text-align: center">Lasa SciO0</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" {% if page.url == "/index.html" %} class="lasaActive" {% endif %} href="index.html">Home</a>
      <a class="mdl-navigation__link" {% if page.url == "/news.html" %} class="lasaActive" {% endif %} href="news.html">News</a>
      <a class="mdl-navigation__link" {% if page.url == "/history.html" %} class="lasaActive" {% endif %} href="history.html">History</a>
      <a class="mdl-navigation__link" {% if page.url == "/calendar.html" %} class="lasaActive" {% endif %} href="calendar.html">Calendar</a>
      <a class="mdl-navigation__link" {% if page.url == "/gallery.html" %} class="lasaActive" {% endif %} href="gallery.html">Gallery</a>
      <a class="mdl-navigation__link" {% if page.url == "/contact.html" %} class="lasaActive" {% endif %} href="contact.html">Contact Form</a>
      <a class="mdl-navigation__link" {% if page.url == "/links.html" %} class="lasaActive" {% endif %} href="links.html">Links and Forms</a>
      <a class="mdl-navigation__link" href="https://app.box.com/v/lasascio">Event Resources</a>
      <a class="mdl-navigation__link" {% if page.url == "/donate.html" %} class="lasaActive" {% endif %} href="donate.html">Donate!</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
